* {
    border-color: rgb(236, 235, 179)!important;
    border-width: 1px;
    border-style: solid;
    margin: 1ex 1ex 1ex 1ex;
    padding: 1ex 1ex 1ex 1ex;
}
:root{ /*etiqueta root (??)*/
    --amarillo1:#F7DF1E; /*declarando una variable amarillo1*/    
    --oscuro1: #222;
}
#titulo{
    color: rgb(251, 250, 238);    
}
.container{
    color: rgb(210, 220, 218);      
    display: flex;
}
.elemento{
    color: rgb(201, 220, 218);  
}
#personalDataId{
    background-color: rgb(25, 48, 49);
    color: rgb(255, 224, 122);
}
.claseExtra{
    background-color: rgb(27, 33, 41);
}
.eventos-flujo div{
    padding:2em;
    font-size:1.2rem;
    text-align:center;
}

#idDivPropagacion1{
    background-color: yellow;
}
#idDivPropagacion2{
    background-color: gold;
}
#idDivPropagacion3{
    background-color: lightyellow;
}